header#Header {
  // marquee text scroll
  position: absolute;
  top: 0;
  left: 0;
  .navbar{
    background: transparent!important;
    padding: 1.5rem 0rem
  }
  marquee {
    background: var(--text-57);
    color: white;
    display: flex;
    justify-content: center;
    a {
      color: inherit;
      display: inline-block;
      padding-left: 5rem;
      font-size: 0.875rem;
      text-decoration: none;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }

  // HeaderMenu
  menu#HeaderMenu {
    margin: 0;
    padding: 0;
    #logo {
      height: 1.5rem;
      max-height: 2rem;
      margin-right: 153px;
    }
    a {
      color: white;
    }
    .dropdown-toggle{
        &::after{
            display: none;
        }
    }
    .dropdown-menu {
      li {
        background: var(--text-01);
        &:hover {
          background: var(--text-26);
          .dropdown-item {
            background: var(--text-26);
          }
        }
      }
    }
  }
}
